.header {
    
    &__title {
        font-size: 2rem;
    }

    &__navlink {
        display: flex;
        list-style: none;

        :not(:last-child) {
            margin-right: 2rem;
        }

        li a {
            color: var(--color-primary);
            text-decoration: none;
            i {
                font-size: 1.6rem;
                transform: translate(0px,6px);
            }
         }
    }

    &__profile {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin-right: 2rem;
        }
        &--notif {
            font-size: 3rem;
            position: relative;
            span {
                position: absolute;
                height: 25px;
                width: 25px;
                border-radius: 100px;
                background-color: var(--color-red);
                top: -1rem;
                right: -1rem;
                font-size: 1.8rem;
                text-align: center;
                justify-content: center;
                display: flex;
                line-height: 2rem;
            }
        }   
        &--img {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    @include respond-to(tablet) {
        &__title {
           display: none;
        }
    
        &__navlink {
            :not(:last-child) {
                margin-right: 1.5rem;
            }
            li a {
                i {
                    font-size: 1.4rem;
                }
             }
        }
    
        &__profile {
            :not(:last-child) {
                margin-right: 1.5rem;
            }
            &--notif {
                font-size: 2rem;
                span {
                    height: 20px;
                    width: 20px;
                    top: -1.6rem;
                    right: -1.5rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }   
            &--img {
                height: 50px;
                width: 50px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }

    @include respond-to(phone) {
        font-size: 1.6rem !important;

        &__profile {
            
            &--img {
                height: 35px;
                width: 35px;
            }
        }
    }

    @include respond-to(small-phone) {
        &__navlink {
            li a {
              
                i {
                   display: none;
                }
             }
        }
    }

}


.left-side {
    &__palnets {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        img {
            height: 90px;
            width: 90px;
        }
    }
    
    &__about {
        transform: translateY(-3.5rem);
        &--paragraph {
            line-height: 2;
            text-align: left;
            width: 80%;
            font-size: 1.4rem;
        }
    }

    &__btn {
        margin-top: 3rem;
        a {
            text-decoration: none;
            padding: 1rem 6rem;
            font-size: 2rem;
            font-weight: 600;
            border-radius: .7rem;
            border: none;
            opacity: .8;
            cursor: pointer;
            background: var(--color-white);
            color: var(--color-black);
        }
    }

    @include respond-to(tablet) {

        &__palnets {
            padding: 2rem 0 4rem 0;
            img {
                height: 70px;
                width: 70px;
            }
        } 
        &__about {
            transform: translateY(0);
            &--paragraph {
                width: 100%;
                padding-bottom: 2rem;
            }
        }

        &__btn {
            a {
                padding: 1rem 2rem;
            }
        }
    }

}

.center {
    &__publishers {
        display: flex;
        align-items: center;
        padding: 2rem;
        &--name {
            font-size: 1.2rem;
            font-weight: 800;
            text-transform: capitalize;
            margin-right: 2rem;
        }

        &--picture {
            position: relative;

            img {
                height: 45px;
                width: 45px;
                border-radius: 100px;
                box-shadow: 0 0 0 3px var(--color-white);
            }
            &--1 {
                position: relative ;
            }
            &--2 {
                position: absolute;
                left: 2rem;
            }
            &--3 {
                position: absolute;
                left: 4rem;
            }
        }
    }
    @include respond-to(tablet-land) {
        &__publishers {
           display: block;
        }
    }

    @include respond-to(tablet) {
        &__publishers {
            display: flex;
            padding: 2rem 0;
            justify-content: space-evenly;
        }
    }
}



/*article__content*/
.article__content {

    margin-top: 2.5rem;
    text-align: left;
    padding: 2rem 2rem;

    &__title {
        text-transform: capitalize;
        font-size: 3rem;
        i {
            font-size: 2.5rem;
            margin-left: 1rem;
        }
    }

    &__paragraph {
        padding-top: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
    }

    &__list {
        display: flex;
        list-style: none;
        padding-top: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
    }

    @include respond-to(tablet) {
       
        padding: 2rem 0rem;
    
        &__title {
            
            font-size: 2rem;
            i {
                font-size: 2rem;
                margin-left: 1rem;
            }
        }
    
       
    }
}